/* ✅ Google Font FIRST */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

/* ✅ Then Tailwind and others */
@import "tailwindcss";
@import "tw-animate-css";

/* Global font */
html {
  scroll-behavior: smooth;
  font-family: 'Public Sans', sans-serif;
}

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input {
  @apply border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}
